<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>olmaps</title>
  <link rel="stylesheet" href="test/css/index.css" type="text/css">
  <link rel="stylesheet" href="test/css/flex.css" type="text/css">
</head>

<body>
  <div id="app" class="full-page" flex>
    <div id="map" flex-box="1"></div>
    <div class="nav bor-l" flex-box="0">
      <div class="nav-item" v-for="item in type" :class="item.id===activeId?'active':''" :key="item.id"
        @click="changeType(item)">{{item.name}}</div>
      <div class="nav-item" v-for="item in demos" :class="item.id===activeId?'active':''" :key="item.id"
        :title="item.title" @click="addFeature(item)">{{item.name}}</div>
    </div>
  </div>
</body>
<script src="test/js/data.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
<script src="lib/olmaps.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      activeId: '0',
      type: [
        { name: '谷歌行政图', id: '0' },
        { name: '谷歌影像图', id: '1' },
        { name: '高德行政图', id: '2' },
        { name: '高德影像图', id: '3' }
      ],
      demos: [
        { name: '点、线、圆', id: 'marker' },
        { name: '多边形', id: 'polygon' },
        { name: '描边', id: 'multiPolygon' },
        { name: '空气质量图', id: 'air', title: "这里我偷懒用的addCircle添加的圆形标记放大会有问题，实际可以改成图标" },
        { name: '轨迹', id: 'move', title: "这里我偷懒用的addCircle添加的圆形标记放大会有问题，实际可以改成图标" }
      ],
      olmap: null,
      map: {
        zoom: 16,
        // 记录弹出层的点位id
        popId: ''
      },
      // 移动的点位信息
      movePoint: {
        id: ''
      },
      timer: null
    },
    mounted() {
      this.$nextTick(() => {
        this.initMap()
      })
    },
    beforeDestroy() {
      // 清除定时器
      if (this.timer) {
        window.cancelAnimationFrame(this.timer)
      }
    },
    methods: {
      initMap() {
        this.olmap = new Olmaps({
          zoom: this.map.zoom
        })
        // 绑定事件
        this.evt()
      },
      // 重置
      reset(zoom, type) {
        this.olmap.clear()
        this.olmap.zoomTo(zoom || this.map.zoom)
        this.olmap.setMapType(type || 0)
        this.olmap.setMapCenter(["116.39786446", "39.92421163"])
      },
      changeType({ id }) {
        this.reset()
        this.activeId = id
        this.olmap.setMapType(id)
      },
      addFeature({ id }) {
        this.reset()
        this.activeId = id
        if (typeof this[id] === 'function') this[id]()
      },
      // 添加点线圆
      marker() {
        markers[0].id = '123'
        const data = this.olmap.addMarker(markers)
        // console.log(data)
        const lineIds = this.olmap.addLine(lineData)

        const circleIds = this.olmap.addCircle({
          center: [116.39786526, 39.92421163],
          radius: 100
        })
        this.map.popId = data[data.length - 1]
        console.log(data, lineIds, circleIds)
      },
      // 添加2组多边形
      polygon() {
        this.olmap.addPolygon({
          data: [
            ["116.39786446", "39.92421163"],
            ["116.39676252", "39.92947015"],
            ["116.39503675", "39.92629634"],
            ["116.39476110", "39.92293218"]
          ],
          name: '多边形测试',
          id: '887777',
          fill: 'yellow'
        })
        this.olmap.addPolygon([
          ["116.39786446", "39.92421163"],
          ["116.38676252", "39.92947015"],
          ["116.39503675", "39.92429634"],
          ["116.39476110", "39.92293218"]
        ])

      },
      // 描边
      multiPolygon() {
        this.olmap.setMapCenter(geoPoint.boundary[0])
        this.olmap.zoomTo(10)
        this.olmap.addMultiPolygon({
          data: [geoPoint.boundary],
          name: geoPoint.name,
          id: 'multiPolygon'
        })
      },
      // 空气质量图
      air() {
        // 闪烁的气泡
        function createAnimate() {
          const dom = document.createElement('div')
          dom.id = 'point-animate'
          dom.className = 'point-animate'
          document.body.appendChild(dom)
          return dom
        }
        // 气泡的dom
        function createInfoBox() {
          const box = document.createElement('div')
          box.style.backgroundColor = 'rgba(0, 0, 0, .5)'
          box.style.padding = '10px'
          box.style.color = '#ffffff'
          box.style.borderRadius = '3px'
          box.style.transition = 'all .38s'
          return box
        }
        const animate = createAnimate()
        const infoDom = createInfoBox()
        const overlay = this.olmap.overlay({
          el: animate,
          position: 'center-center'
        })
        const overlay2 = this.olmap.overlay({
          el: infoDom,
          position: 'center-bottom'
        })
        let currentfeature = null
        this.olmap.map.getOverlays().clear()
        this.olmap.zoomTo(5)
        this.olmap.setMapType(3)
        this.olmap.setMapCenter([104.87, 34.21])
        data.forEach((item, i) => {
          const ids = this.olmap.addCircle({
            // name: i + '_',
            center: item.center,
            radius: item.value * 120,
            overlay: true,
            fill: 'yellow'
          })
          item.olId = ids[0]
        })
        this.olmap.addPolygon(coords)
        this.olmap.map.addOverlay(overlay)
        this.olmap.map.addOverlay(overlay2)
        // 鼠标上移闪烁
        this.olmap.pointermove(function (evt, feature) {
          if (!feature) {
            currentfeature = null
            overlay.setPosition(undefined)
            overlay2.setPosition(undefined)
            return
          }
          const property = feature.get('property') || {}
          let id = null
          let result = null
          let str = ''
          if (property.overlay) {
            if (feature !== currentfeature) {
              currentfeature = feature
              overlay.setPosition(feature.getGeometry().getCenter())
              id = feature.get('id')
              for (let i = 0; i < data.length; i++) {
                if (data[i].olId === id) {
                  result = data[i]
                  break
                }
              }
              if (!result) return
              str += '<div>' + result.name + '</div>'
              str += '<div>' + result.value + '</div>'
              infoDom.innerHTML = str
              overlay2.setPosition(feature.getGeometry().getCenter())
            }
          } else {
            currentfeature = null
            overlay.setPosition(undefined)
            overlay2.setPosition(undefined)
          }
        })
      },
      // 轨迹移动
      move() {
        // this.reset()
        // this.olmap.clear()
        let routeCoords = []
        let maxDis = 0
        const moveData = Array.from({ length: 12 }).map(() => {
          return {
            "latitude": 39.92421163 + Math.random() / 10,
            "longitude": 116.39786446 + Math.random() / 10
          }
        })
        moveData.forEach((v, i, arr) => {
          const from = i === 0 ? arr[i] : arr[i - 1]
          const to = arr[i]
          if (i === 0) {
            this.addLine([from.longitude, from.latitude], [to.longitude, to.latitude], 'moveline')
            // 添加移动目标
            const movePointIds = this.olmap.addMarker([from])
            // 记录移动的点位ID
            this.movePoint.id = movePointIds[0]

          }

          const dis = this.olmap.getCoordinateLength([
            [arr[0].longitude, arr[0].latitude],
            [arr[i].longitude, arr[i].latitude]
          ])
          // 设置最大的距离
          if (dis >= maxDis) maxDis = dis
          // 获取移动点位集合
          routeCoords = routeCoords.concat(
            this.genInsertPoints({
              start: [from.longitude, from.latitude],
              end: [to.longitude, to.latitude]
            })
          )
        })
        // 根据最大距离获取对应层级
        const zoom = this.olmap.getZoomWidthDis(maxDis)
        // 设置层级
        if (zoom) this.olmap.zoomTo(zoom + 1)
        this.startMove(routeCoords)
      },
      /**
      * 分割两点之间经纬度
      * @param {Object} param 起始点数据
      * @param {Array} param.start  起点经纬度 [120.345885, 31.575855]
      * @param {Array} param.end  结束经纬度 [120.345885, 31.575855]
      * @param {Number} param.distance  分割距离
      */
      genInsertPoints({ start, end }) {
        // 获取起始点之间距离
        const total = this.olmap.getCoordinateLength([start, end])
        const zoom = this.olmap.getZoom()
        // 最后返回的经纬度
        const points = []
        // 经纬度一样忽略掉，不进行分割
        if (!total) return []
        // 计算距离
        const distance = total / (zoom * 10)
        // 获取总分割数量
        let num = Math.ceil(total / distance)
        // 如果两点之间的距离小于设置的分割距离,直接取起始点
        if (total <= 10 || num <= 1) {
          points.push(end)
          return points
        }
        // 分割
        for (var i = 1; i <= num; i++) {
          const [slon, slat] = start
          const [elon, elat] = end
          // 注意要将经纬度转换为数字
          points.push([
            // 经度
            i * distance / total * (elon - slon) + Number(slon),
            // 纬度
            i * distance / total * (elat - slat) + Number(slat)
          ])
        }
        return points
      },
      addLine(from, to, id) {
        this.olmap.addLine([{
          data: [from, to],
          showDistance: false,
          type: 'line',
          color: '#ff9933',
          id
        }])
      },
      /**
      * 移动点位
      * @param{Array} routeCoords 移动轨迹经纬度集合
      */
      startMove(routeCoords) {
        routeCoords = routeCoords || []
        // 当前移动点位
        let Movefeature = null
        // 移动的轨迹线
        let movelineFeature = null
        // 记录移动的index
        let i = 0
        // 获取所有features
        const features = this.olmap.getAllFeatures().features
        // 获取移动的点位
        for (let i = 0; i < features.length; i++) {
          const feature = features[i]
          if (feature.get('id') === this.movePoint.id) {
            Movefeature = feature
          }
          // 轨迹线段
          if (feature.get('id') === 'moveline') {
            movelineFeature = feature
          }
        }
        // 没有获取到移动点位则不往下执行
        if (!Movefeature) return
        if (!routeCoords) return

        // 开始运动
        const moveFn = () => {
          // console.log(i)
          const geometry = Movefeature.getGeometry()
          if (i === 0) {
            this.olmap.setMapCenter(routeCoords[0])
          }
          // 停止运动
          if (i > routeCoords.length - 1) {
            window.cancelAnimationFrame(moveFn)
            movelineFeature.getGeometry().appendCoordinate(
              this.olmap.transformLonLat(
                routeCoords[i - 1]
              )
            )
            return
          }
          // 更新坐标为下一个
          geometry.setCoordinates(this.olmap.transformLonLat(routeCoords[i]))
          // 每隔10个更新轨迹位置
          if (i % 10 === 0) {
            movelineFeature.getGeometry().appendCoordinate(
              this.olmap.transformLonLat(
                routeCoords[i]
              )
            )
          }
          this.timer = window.requestAnimationFrame(moveFn)
          i++
        }
        this.timer = window.requestAnimationFrame(moveFn)
      },
      evt() {
        let oldFeature = null
        this.olmap.on('markerClick', data => {
          console.log('点位被点击', data)
        })
        const cb = data => {
          if (data.olId === this.map.popId) {
            console.log('我被点击了,并且解除这个事件的绑定')
            // this.olmap.removeFeature([data.olId])
            this.olmap.removeEvent('markerClick', cb)
          }
        }
        this.olmap.on('markerClick', cb)
        this.olmap.on('markerDrag', data => {
          console.log('拖拽完成：', data)
        })
        this.olmap.pointermove(function (evt, feature) {
          if (feature) {
            if (feature.get('id') == 'multiPolygon') {
              const property = feature.get('property') || {}
              feature.set('property', {
                ...property,
                fill: 'yellow'
              })
              oldFeature = feature
            }
          } else {
            if (oldFeature) {
              const property = oldFeature.get('property') || {}
              oldFeature.set('property', {
                ...property,
                fill: null
              })
              oldFeature = null
            }
          }
        })
      }
    }
  })
</script>

</html>